name: Pipeline
on: push

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install Dependencies
        run: npm install
      - name: Run Tests
        run: npm test
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install Dependencies
        run: npm install
      - name: Lint Code
        run: npm run lint

  e2e-test:
    runs-on: ubuntu-latest
    needs:
      - unit-test
      - lint
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run Cypress
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          start: npm start
